<div class="row">
    <div class="col-lg-9">
        <div class="page-header">
            <h1>{{'List of contacts'|translate}}</h1>
        </div>

        <div ng-if="saved" class="alert alert-success">
            Saved!
        </div>

        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in $data">
                <td data-title="'Name of people'">
                    <a ng-href="{{user.getUrl()}}">{{user.name}}</a>
                </td>
                <td data-title="'Age'">
                    {{user.age}}
                </td>
            </tr>
        </table>

    </div>
    <div class="col-lg-3">

        <a class="btn btn-primary" href="#!/add">Add contact</a>
        <div app-view-segment="1"></div>
    </div>
</div>